.gradle
/local.properties
google-services.json

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle.kts
*.iml
.idea/*
!.idea/copyright
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml

.DS_Store
build/
captures/
.externalNativeBuild
.cxx
local.properties
.kotlin/

# iOS
iosApp/DerivedData/
iosApp/build/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcuserdata/

# XcodeGen
# Uncomment the following lines if you want to ignore the generated Xcode project files
# iosApp/Pokedexer.xcodeproj
# iosApp/Pokedexer.xcworkspace